// Breakpoint

$rs-bp-xs-max: 599px;
$rs-bp-sm-min: 600px;
$rs-bp-sm-max: 959px;
$rs-bp-md-min: 960px;
$rs-bp-md-max: 1279px;
$rs-bp-lg-min: 1280px;
$rs-bp-lg-max: 1919px;
$rs-bp-xl-min: 1920px;
$rs-bp-xl-max: 5000px;

// Colors
$c-background: #ffffff;
$c-menu-background: #F5F3F2;

$c-primary: #2369F6;
$c-secondary: #9862F6;

$c-primary-light: #73A0F9;
$c-primary-lighter: #efeffa;
$c-primary-lightest: #fafafe;

$c-secondary-light: #f3efff;
$c-secondary-lightest: #fdf9ff;

$c-on-primary: #ffffff;
$c-on-secondary: #ffffff;

$c-font-color: #000000;

$c-error-color: #d90009;
$c-warning-color: #e79000;

$c-border: #eaeaea;
$c-tooltip-bg: #ffffff;

$c-item: #fafafa;
$c-item-hover: rgba(0, 0, 0, 0.05);

$rs-max-content-width: 10000px;
$rs-content-padding-left: 100px;

$rs-c-gray-1: #fbfbfb;
$rs-c-gray-2: #f9f9f9;
$rs-c-gray-3: #f5f5f5;
$rs-c-gray-4: #f0f0f0;
$rs-c-gray-5: #D9D9D9;
$rs-c-gray-7: #8C8C8C;
