<div>
  <form [formGroup]="radiusForm">
    <div class="rs-l-flex">
      <div class="rs-l-grid rs-l-grid--col-2 rs-s-gap--lg">
        <ng-container *ngFor="let corner of corners">
          <div class="input-container">
            <span nz-icon [nzType]="corner.icon" nzTheme="outline"></span>
            <input
              type="number"
              [formControlName]="corner.controlName"
              [class.error]="
                radiusForm.get(corner.controlName).errors?.required ||
                radiusForm.get(corner.controlName).errors?.min
              "
            />
            <div
              class="error-message"
              *ngIf="
                radiusForm.get(corner.controlName).errors?.min &&
                (radiusForm.get(corner.controlName).dirty ||
                  radiusForm.get(corner.controlName).touched)
              "
            >
              Value 0+
            </div>
          </div>
        </ng-container>
      </div>
      <div class="rs-l-flex__item--center-y">
        <button
          [class.active]="linked"
          class="rs-l-flex link-button"
          type="button"
          (click)="toggleLink()"
        >
          <span
            class="rs-l-flex__item--center-y rs-l-flex__item--center-x"
            nz-icon
            nzType="link"
            nzTheme="outline"
          ></span>
        </button>
      </div>
    </div>
  </form>
</div>
