<rs-ui-default-layout>
  <ng-container *rsUiPageHeaderRegistrar>
    <rs-ui-box-header icon="home" title="Start Page">
      <h2>This is our start page</h2>

      <p class="text-mute">Here you can do some useful stuff</p>

      <ng-container
        *rsUiAction="
          let i;
          options: {
            type: ActionType.primary,
            click: save,
            disabled: isFormDataInvalid
          }
        "
      >
        <span nz-icon nzType="save" nzTheme="outline"></span>
        Save
      </ng-container>

      <ng-container
        *rsUiAction="
          let i;
          options: { type: ActionType.danger, click: deleteContentGraph }
        "
      >
        <span nz-icon nzType="rest" nzTheme="outline"></span>
        Delete
      </ng-container>
    </rs-ui-box-header>
  </ng-container>

  <ng-container *rsUiPageMainContentRegistrar>
    <div class="rs-l-grid rs-l-grid--col-2 rs-s-gap--lg">
      <div class="rs-l-flex rs-s-gap--lg">
        <ul class="element-list rs-no--shrink rs-no--list">
          @for (element of contentGraph().attributes.main.elements; track
          element.elementId) {
          <li
            (click)="activeElement.set(element)"
            [class.active]="element.elementId === activeElement()?.elementId"
          >
            {{ element.displayName }}
          </li>
          }
        </ul>

        <div
          class="configurator rs-l-flex__item--stretch rs-l-flex rs-l-flex--center"
        >
          <app-radius-form
            (radiusChange)="onRadiusUpdated($event)"
            [activeElementValues]="activeElement()"
          />
        </div>

        <div class="rs-l-flex__item--stretch">
          @if (activeElement()) {
          {{ activeElement().displayName }}
          {{ activeElement().style.corners | json }}
          <app-corner-box [ngModel]="activeElement().style.corners">
          </app-corner-box>
          }
        </div>
      </div>

      <code>
        {{ rawPreview() }}
      </code>
    </div>
  </ng-container>
</rs-ui-default-layout>
